.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/devtool/nginx-1.12.0/logs/error.log
/devtool/nginx-1.12.0/logs/nginx.pid
/devtool/nginx-1.12.0/logs/vue.log
/test
/nodeCode/WebpackConfig.js
